<div class="searchContainer">
  <div class="homeSearch" id="homeSearch"><span class="homeSearchImgFR">RECHERCHE</span> <span
    class="twitter-typeahead" style="position: relative; display: block;"><input class="tt-hint"
                                                                                 type="text"
                                                                                 autocomplete="off"
                                                                                 spellcheck="off"
                                                                                 disabled="disabled"
                                                                                 style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"><input
    class="homeSearchBox tt-query" placeholder="" id="homeSearchTextBox" name="search"
    type="text" autocomplete="off" spellcheck="false"
    style="vertical-align: top; background-color: transparent;" dir="auto"><span
    style="position: absolute; left: -9999px; visibility: hidden; white-space: nowrap; font-family: robotoregular, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 200; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: optimizelegibility; text-transform: none;"></span><span
    id="dataTypeAheadDropDown" class="tt-dropdown-menu"
    style="position: absolute; z-index: 100; display: none;"></span></span></div>
  <div class="searchcategory" style="visibility: visible;">
    <div class="selectric-wrapper selectric-searchCategoryDD">
      <div class="selectric-hide-select"><select class="searchCategoryDD"
                                                 style="visibility: hidden;" tabindex="-1">
        <option value="categoryAll" class="optionitem" selected="selected">Tout</option>
        <option disabled="true" class="optiongrptitle disabled group">Popular Content Types
        </option>
        <option class="optiongrpitem dimensionValue" value="129">Application Notes</option>
        <option class="optiongrpitem dimensionValue" value="135">User Manuals</option>
        <option class="optiongrpitem dimensionValue" value="4294950118">Certificate of
          Analysis
        </option>
        <option class="optiongrpitem dimensionValue" value="133">Safety Data Sheets</option>
        <option class="optiongrpitem dimensionValue" value="4294953176">Videos</option>
        <option class="optiongrpitem dimensionValue" value="130">Techical Overviews</option>
        <option class="optiongrpitem dimensionValue" value="136">Catalogs</option>
        <option class="optiongrpitem dimensionValue" value="131">Brochures</option>
        <option class="optiongrpitem dimensionValue" value="134">Site Preparation Checklists
        </option>
        <option disabled="true" class="optiongrptitle disabled group">Popular Categories
        </option>
        <option class="optiongrpitem dimensionValue" value="900006881">Gas Chromatography
        </option>
        <option class="optiongrpitem dimensionValue" value="900007550">Liquid Chromatography
        </option>
        <option class="optiongrpitem dimensionValue" value="900007449">Lab Supplies</option>
        <option class="optiongrpitem dimensionValue" value="900006180">Software and
          Informatics
        </option>
      </select></div>
      <div class="selectric"><span class="label">Tout</span><b class="button">▾</b></div>
      <div class="selectric-items" tabindex="-1">
        <div class="selectric-scroll">
          <ul>
            <li data-index="0" class="optionitem selected">Tout</li>
            <li data-index="1" class="optiongrptitle disabled group disabled">Popular
              Content Types
            </li>
            <li data-index="2" class="optiongrpitem dimensionValue">Application Notes</li>
            <li data-index="3" class="optiongrpitem dimensionValue">User Manuals</li>
            <li data-index="4" class="optiongrpitem dimensionValue">Certificate of
              Analysis
            </li>
            <li data-index="5" class="optiongrpitem dimensionValue">Safety Data Sheets</li>
            <li data-index="6" class="optiongrpitem dimensionValue">Videos</li>
            <li data-index="7" class="optiongrpitem dimensionValue">Techical Overviews</li>
            <li data-index="8" class="optiongrpitem dimensionValue">Catalogs</li>
            <li data-index="9" class="optiongrpitem dimensionValue">Brochures</li>
            <li data-index="10" class="optiongrpitem dimensionValue">Site Preparation
              Checklists
            </li>
            <li data-index="11" class="optiongrptitle disabled group disabled">Popular
              Categories
            </li>
            <li data-index="12" class="optiongrpitem dimensionValue">Gas Chromatography</li>
            <li data-index="13" class="optiongrpitem dimensionValue">Liquid Chromatography
            </li>
            <li data-index="14" class="optiongrpitem dimensionValue">Lab Supplies</li>
            <li data-index="15" class="optiongrpitem dimensionValue last">Software and
              Informatics
            </li>
          </ul>
        </div>
      </div>
      <input class="selectric-input" tabindex="0"></div>
  </div>
</div>
