<app-main-header></app-main-header>

<app-main-ad-slider></app-main-ad-slider>

<app-main-footer></app-main-footer>


<!--Session expired modal
<div class="modal fade noPrint smallPopup fr_session" id="sessionExp-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="rememberClose" class="closePopup" data-dismiss="modal" aria-hidden="true"></div>
        <h3 class="modal-title">Votre session a expiré.</h3></div>
      <div class="modal-container">
        <div id="content"><p>Pour accéder à votre compte Agilent, veuillez vous reconnecter.</p>
          <div class="ok-section">
            <button type="button" data-dismiss="modal" class="btn-stnd-medium expiredPop-login">
              s'identifier
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer"><p>À des fins de sécurité, nous vous déconnecterons après un délai de 30 minutes
        sans activité.</p></div>
    </div>
  </div>
</div>
-->
