<nav class="primary-nav globalHeadernav" role="navigation"><a class="spark" href="#"></a>
  <li><a id="MegaMenu-Produits" data-section-name="main-nav:Produits" href="#collapse-0" class="collapsed"
         data-toggle="collapse" data-parent="body header">Produits</a></li>
  <li><a id="MegaMenu-Marchés" data-section-name="main-nav:Marchés" href="#collapse-1" class="collapsed"
         data-toggle="collapse" data-parent="body header">Marchés</a></li>
  <li><a id="MegaMenu-Formationsetévènements" data-section-name="main-nav:Formations et évènements"
         href="#collapse-2" class="collapsed" data-toggle="collapse" data-parent="body header">Formations
    et évènements</a></li>
  <li><a id="MegaMenu-Services" data-section-name="main-nav:Services" href="#collapse-3" class="collapsed"
         data-toggle="collapse" data-parent="body header">Services</a></li>
  <li><a id="MegaMenu-Assistance" data-section-name="main-nav:Assistance" href="#collapse-4"
         class="collapsed" data-toggle="collapse" data-parent="body header">Assistance</a></li>
  <li><a id="MegaMenu-Ressources" data-section-name="main-nav:Ressources" href="#collapse-5"
         class="collapsed" data-toggle="collapse" data-parent="body header">Ressources</a></li>
  <li><a id="MegaMenu-ServiceDesCommandes" data-section-name="main-nav:Service Des Commandes"
         href="#collapse-6" class="collapsed" data-toggle="collapse" data-parent="body header">Service Des
    Commandes</a></li>
  <li><span class="buySeperator">|</span></li>
  <li class="buyImg"><a href="#" class="collapsed"
                        data-parent="body &gt; header"><p class="cartItem cartNum">0</p><span
    class="buycart-img"></span> </a></li>
</nav>
