<div class="homeContainer">
  <div class="defaultPagination" id="bx-default-Pager" style="visibility:hidden;">
    <ul>


      <li><a href="#a" data-slide-index="0" class="bx-pager-link">1</a></li>

      <li><a href="#a" data-slide-index="1" class="bx-pager-link">2</a></li>

      <li><a href="#a" data-slide-index="2" class="bx-pager-link">3</a></li>

      <li><a href="#a" data-slide-index="3" class="bx-pager-link">4</a></li>

      <li><a href="#a" data-slide-index="4" class="bx-pager-link">5</a></li>

      <li><a href="#a" data-slide-index="5" class="bx-pager-link">6</a></li>

      <li><a href="#a" data-slide-index="6" class="bx-pager-link">7</a></li>


    </ul>
  </div>


  <div id="bx-pager" class="bx-pager navigationThumbnail" style="visibility: visible;">
    <ul>
      <a data-slide-index="0"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Pharmaceutique', 'eventVal':0 });"
         href="#a" class="">
        <li class="thumbnailSpan"><span><h2>Pharmaceutique</h2></span></li>
      </a>
      <img src="assets/img/thumbnailSeprator.png"
           class="thumnailSeperator" alt="separator" width="2" height="110">


      <a data-slide-index="1"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Nouvelles normes de qualité', 'eventVal':0 });"
         href="#a" class="active">
        <li class="thumbnailSpan"><span><h2>Nouvelles<br>normes<br>de qualité</h2></span></li>
      </a>
      <img src="assets/img/thumbnailSeprator.png"
           class="thumnailSeperator" alt="separator" width="2" height="110">

      <a data-slide-index="2"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Mieux gérer les coûts', 'eventVal':0 });"
         href="#a" class="">
        <li class="thumbnailSpan"><span><h2>Mieux gérer<br>les coûts</h2></span></li>
      </a>
      <img src="assets/img/thumbnailSeprator.png"
           class="thumnailSeperator" alt="separator" width="2" height="110">

      <a data-slide-index="3"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Expansion de l’analyse des cellules', 'eventVal':0 });"
         href="#a" class="">
        <li class="thumbnailSpan"><span><h2>Expansion<br>de l’analyse<br>des cellules</h2></span></li>
      </a>
      <img src="assets/img/thumbnailSeprator.png"
           class="thumnailSeperator" alt="separator" width="2" height="110">


      <a data-slide-index="4"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Notre dernier rapport CSR', 'eventVal':0 });"
         href="#a" class="">
        <li class="thumbnailSpan"><span><h2>Notre dernier<br>rapport CSR</h2></span></li>
      </a>
      <img src="assets/img/thumbnailSeprator.png"
           class="thumnailSeperator" alt="separator" width="2" height="110">

      <a data-slide-index="5"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Implication des microplastiques', 'eventVal':0 });"
         href="#a" class="">
        <li class="thumbnailSpan"><span><h2>Implication des<br>microplastiques</h2></span></li>
      </a>
      <img src="assets/img/thumbnailSeprator.png"
           class="thumnailSeperator" alt="separator" width="2" height="110">

      <a data-slide-index="6"
         onmousedown="dataLayer.push({'event': 'eventTracker', 'eventCat': 'Home Page Clicks', 'eventAct':'Carousel', 'eventLbl': 'Assurer  l'intégrité des  données ', 'eventVal':0 });"
         href="#a" class="">
        <li class="thumbnailSpan"><span><h2>Assurer<br>l'intégrité des<br>données<br></h2></span></li>
      </a>
    </ul>
  </div>


  <div id="bxoutercontainer">
    <div class="loading" style="display: none;"></div>
    <div class="bx-wrapper" style="max-width: 100%;">
      <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 645px;">

        <ul class="bxslider"
            style="visibility: visible; width: 915%; position: relative; transition-duration: 0.5s; transform: translate3d(-2500px, 0px, 0px);">
          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"
              class="bx-clone"><a href="#" target="_self">
            <div class="heroBox">
              <div><h2>Protéger les données de votre<br> laboratoire est primordial<br> aujourd'hui</h2>
              </div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-load" data-src="home_images/hero-data-integrity.jpg"
                   src="assets/img/blank.gif"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li target="_blank"
              style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#" target="_self">
            <div class="heroBox">
              <div><h2>Aider la recherche biopharma à lutter contre le cancer</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/biopharma_1400x645.jpg"
                   src="assets/img/biopharma_1400x645.jpg"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#" target="_self">
            <div class="heroBox">
              <div><h2>Agilent fait naître <br>de nouvelles normes <br>de qualité</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/hero_energy_2018_1.jpg"
                   src="assets/img/hero_energy_2018_1.webp"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#" target="_self">
            <div class="heroBox">
              <div><h2>Améliorez le potentiel <br>économique <br>du laboratoire</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/hero_crosslab_2018_1.jpg"
                   src="assets/img/hero_crosslab_2018_1.webp"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#"
            target="_self">
            <div class="heroBox">
              <div><h2>Biotek et ACEA viennent élargir<br>la boîte à outils de l'immunothérapie</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/hero-expand-immunotherapy-2019-1.jpg"
                   src="assets/img/hero-expand-immunotherapy-2019-1.webp"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#" target="_self">
            <div class="heroBox">
              <div><h2>Animés par un objectif :<br>notre responsabilité<br>sociale d'entreprise</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/hero-csr-2019-3.jpg"
                   src="assets/img/hero-csr-2019-3.jpg"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#" target="_self">
            <div class="heroBox">
              <div><h2>Déterminer les risques<br>sanitaires des microplastiques</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/hero-microplastics-2019-1.jpg"
                   src="assets/img/hero-microplastics-2019-1.jpg"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li style="float: left; list-style: outside none none; position: relative; width: 1250px;"><a
            href="#" target="_self">
            <div class="heroBox">
              <div><h2>Protéger les données de votre<br> laboratoire est primordial<br> aujourd'hui</h2>
              </div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-loaded" data-src="home_images/hero-data-integrity.jpg"
                   src="assets/img/hero-data-integrity.jpg"
                   alt="HeroBannerImage" width="100%" height="770"></li>


          <li target="_blank"
              style="float: left; list-style: outside none none; position: relative; width: 1250px;"
              class="bx-clone"><a href="#"
                                  target="_self">
            <div class="heroBox">
              <div><h2>Aider la recherche biopharma à lutter contre le cancer</h2></div>
              <span class="readMore">Lire la suite &gt;</span>
            </div>
          </a><img class="hc-lazy-load" data-src="home_images/biopharma_1400x645.jpg"
                   src="assets/img/blank.gif"
                   alt="HeroBannerImage" width="100%" height="770"></li>
        </ul>


      </div>
      <div class="bx-controls bx-has-controls-direction">

      </div>
    </div>
  </div>
</div>
