<footer id="footer">
  <nav class="footer-nav globalHeaderContainer hideFooter" style="display: block;">
    <section class="agilent-details">
      <div class="utility"><span class="logo"> <img
        src="assets/img/icon-agilent-logo-white-white-2x.webp"
        alt="Agilent Technologies">				</span></div>
      <address class="contact-info"><span class="about-icon mapIcon"></span>
        <p> Siège social | <span class="otherSite"><a id="contactPageURLFooter" data-link-name="OtherSite"
                                                      href="#">Autres sites</a></span>
        </p>
        <p>5301 Stevens Creek Blvd.</p>
        <p>Santa Clara, CA 95051</p>
        <p>United States</p></address>
      <!-- Move to JS file
      <script>     var contactURL = '';
      if (typeof contactRedirectPageURL != 'undefined') {
          contactURL = contactRedirectPageURL;
      }
      if (contactURL) {
          document.getElementById('contactPageURLFooter').setAttribute("href", contactURL);
      } else {
          document.getElementById('contactPageURLFooter').setAttribute("href", "https://www.bantu-medic.com/en-us/contact-us/page");
      }     </script>
      -->


      <div class="contact-info"><span class="about-icon mailIcon"></span> <a href="mailto:contact_us@bantu-medic.com"
                                                                             class="blue">contact_us@bantu-medic.com</a><a
        href="#"><p class="blue">Adresses email à
        l’international</p></a></div>
      <div class="contact-info"><span class="about-icon phoneIcon"></span>
        <p><a href="tel: +1 324-434-2342">+1 324-434-2342</a></p>
        <p><a href="tel:+1 31R4-534-5324">+1 31R4-534-5324</a></p>                <a
          href="https://www.bantu-medic.com/en-us/contact-us/page"><p class="blue">Numéros à
          l’international</p></a></div>
    </section>
    <section class="footer-links">
      <div class="col-sixth "><span data-link-name="AboutBantuMedic">A propos d'Bantu-Medic					<hr
        class="aboutBantuMedic">				</span>
        <ul>
          <li><a href="https://www.bantu-medic.com/about/newsroom/" data-link-name="NewsRoom">Espace presse</a>
          </li>
          <li><a href="https://www.bantu-medic.com/about/companyinfo/index.html"
                 data-link-name="CompanyInformation">La société </a></li>
          <li><a href="http://careers.bantu-medic.com/" data-link-name="Careers">Espace emplois</a></li>
          <li><a href="https://www.bantu-medic.com/comm_relation/"
                 data-link-name="CommunityRelations">Citoyenneté</a></li>
          <li><a href="https://www.bantu-medic.com/about/workingwa/" data-link-name="WorkingWithBantuMedic">Éthique
            et collaboration</a></li>
          <li><a href="https://www.bantu-medic.com/about/companyinfo/sustainability"
                 data-link-name="Sustainability">Durabilité</a></li>
        </ul>
      </div>
      <div class="col-sixth"><span data-link-name="Resourses">Ressources					<hr
        class="resoursesLine">				</span>
        <ul>
          <li><a href="#" data-link-name="LiteratureLibrary">Documentation</a>
          </li>
          <li><a href="#"
                 data-link-name="VideoLibrary">Vidéos</a></li>
          <li><a href="#"
                 data-link-name="Events">Événements</a></li>
          <li><a href="#" data-link-name="E-Seminar">Séminaires
            en ligne</a></li>
          <li><a href="#"
                 data-link-name="Calculator">Formations</a></li>
          <li><a href="#" data-link-name="E-NewsLetters">Newsletters
            électroniques</a></li>
          <li><a href="#"
                 target="_blank">Apps Android</a></li>
          <li><a href="#"
                 target="_blank">Apps iOS</a></li>
        </ul>
      </div>
      <div class="col-sixth"><span data-link-name="ShoppingTools">Outils d’achat					<hr
        class="shoppingLine">				</span>
        <ul>
          <li><a href="#" data-link-name="BrowseProduct">Catalogue
            des produits </a></li>
          <li><a href="#" data-link-name="QuickOrder">Commande
            Express</a></li>
          <li class=""><a href="#"
                          data-link-name="MyAccount">Mon compte</a></li>
          <li><a href="#"
                 data-link-name="MyCatalog">Mon catalogue</a></li>
          <li><a href="#"
                 data-link-name="CheckOrderSTatus">Vérifier l’état des commandes</a></li>
          <li><a href="#" data-link-name="WhereToBuy">Où
            acheter </a></li>
          <li id="footerNav1"><a href="#"
                                 data-link-name="Promotions&amp;Offers">Promotions et offres spéciales</a>
          </li>
        </ul>
      </div>
      <div class="col-sixth"><span data-link-name="Support&amp;Services">Services et					Assistance					<hr
        class="supportLine">				</span>
        <ul>
          <li><a href="#" data-link-name="TechnicalSupport">Assistance
            technique</a></li>
          <li><a href="#" data-link-name="On-site Service">Interventions
            sur site</a></li>
          <li><a href="#"
                 data-link-name="InstrumentServices">Services pour instruments analytiques</a></li>
          <li><a href="#"
                 data-link-name="VacuumProductServices">Services pour les produits du vide</a></li>
        </ul>
      </div>
      <div class="legal"><span class="copyRight divClear"> © <span id="homeyear"><script
        type="text/javascript">					document.write(new Date().getFullYear());				</script>2019				</span> Agilent Technologies, Inc.				</span>
        <ul>
          <li><a href="#" data-link-name="PrivacyStatement">Respect
            de la vie privée | </a></li>
          <li><a href="#" data-link-name="TermsOfUse">Conditions
            d’utilisation | </a></li>
          <li><a href="#" data-link-name="ContactUs">Contactez-nous</a>
          </li>
        </ul>
      </div>
    </section>
  </nav>
</footer>
